body{
    height: 100vh;
   overflow: hidden;
    background: -moz-linear-gradient(300deg,#9c37b0,#e91e63);
}

#top {
    position: relative;
    height: 10%;
    border-bottom: Solid whitesmoke 5px;
    text-decoration: none;
    background: -moz-linear-gradient(300deg,rgba(50,50,50,0.2),rgba(40,40,40,0.2));
    color: pink;
    border-radius: 0 0 10px 10px; 
}

#top div{
    position: absolute;
    display: block;
    float: left;
    height: 100%;
    text-align: center;
    padding-top: 5px; 


}

#app-name{
    left: 0;
    padding: 0 5px 0 5px; 
    border: none;
    font-family: monospace;
    font-size: xx-large;
    border-right: Solid whitesmoke 5px;
}

#nav-links{
    right: 0;
    text-decoration: none;
    padding: 0 5px 0 5px;
    border : none;
    border-left: Solid whitesmoke 5px;

}

#nav-links a{
    text-decoration: none;
    padding: 10px;
    color:aliceblue;
}

#updates{
    position: relative;
    height: 100vh;
    width:auto;
    margin: 0 10vw 0 10vw;
    


}

.update {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    display: none;

}

.update p{
    position: absolute;
    width: 90%;
    height: auto;
    margin: auto;
    top: 50%;
    left: auto;
    text-align: center;
    font-family: Monospace;
    font-size: 72px;
}

#one{
    display: block;
}

.slide {
    position: absolute;
    top: 50vh;

}

#backward{
    left: 0;

}

#forward{
    right: 0;

}

#form{
    position: relative;
    width: 300px;
    height: auto;
    top: 100px;
    margin: auto;
    color: burlywood;


}

legend{
    font-family: Monospace;
    font-size: xx-large;
}

fieldset ,fieldset input{
    border: none;
    border-bottom: solid 2px indigo;
    background-color: inherit;
    border-top: solid 2px indigo;
    border-radius: 0 20% 50% 20%;
    
}

fieldset #submit{
    width: 70%;
    border:none;
    color: burlywood;
    background-color: #673ab7;
}