body{
    height: 100vh;
}

#top {
    position: relative;
    height: 10%;
    background-color: purple;
    text-decoration: none;
    color: pink;
}

#top div{
    position: absolute;
    display: block;
    float: left;
    height: 100%;
    text-align: center;
}

#app-name{
    left: 0;
}

#nav-links{
    right: 0;
    text-decoration: none;
}

#nav-links a{
    text-decoration: none;
}



