body{
    height: 100vh;
    overflow: hidden;
    background: -moz-linear-gradient(300deg,#9c37b0,#e91e63);
    background: -webkit-linear-gradient(300deg,#9c37b0,#e91e63);
    background: -o-linear-gradient(300deg,#9c37b0,#e91e63);
    background: linear-gradient(300deg,#9c37b0,#e91e63);

}
#login-page{
    background-image: url(https://i.pinimg.com/originals/6a/c3/d2/6ac3d23b4c736fe781179bb53f627ab1.jpg);  
}

#top {
    position: relative;
    height: 10%;
    border-bottom: Solid whitesmoke 5px;
    text-decoration: none;
    background: -moz-linear-gradient(300deg,rgba(50,50,50,0.2),rgba(40,40,40,0.2));
    background: -webkit-linear-gradient(300deg,rgba(50,50,50,0.2),rgba(40,40,40,0.2));
    background: -o-linear-gradient(300deg,rgba(50,50,50,0.2),rgba(40,40,40,0.2));
    background: linear-gradient(300deg,rgba(50,50,50,0.2),rgba(40,40,40,0.2));
    color: pink;
    border-radius: 0 0 10px 10px; 
}

#top div{
    position: absolute;
    display: block;
    float: left;
    height: 100%;
    text-align: center;
    padding-top: 5px; 


}

#app-name{
    left: 0;
    padding: 0 5px 0 5px; 
    border: none;
    font-family: monospace;
    font-size: xx-large;
    border-right: Solid whitesmoke 5px;
}

#nav-links{
    right: 0;
    text-decoration: none;
    padding: 0 5px 0 5px;
    border : none;
    border-left: Solid whitesmoke 5px;

}

#nav-links a{
    text-decoration: none;
    padding: 10px;
    color:aliceblue;
}

#updates{
    position: relative;
    height: 100vh;
    width:auto;
    margin: 0 10vw 0 10vw;
}

.update {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    display: none;

}

.update p{
    position: absolute;
    width: 90%;
    height: auto;
    margin: auto;
    top: 50%;
    left: auto;
    text-align: center;
    font-family: Monospace, monospace;
    font-size: 72px;
}
/*remove this block*/
#one{
    display: block;
}

.slide {
    position: absolute;
    top: 50vh;

}

#backward{
    left: 0;

}

#forward{
    right: 0;

}

#form{
    position: relative;
    top: 0;
    left: 50vw;
    width: 100%;
    height: auto;
    margin: auto;
    color: burlywood;
}

.login{
    height: 50%;
    top: 0;
    margin-bottom: 5px;
}
#register{
    height: 50%;
    bottom: 0;
    margin-top: 5px;
}


legend{
    font-family: Monospace SansSerif, sans-serif;
    font-size: xx-large;
    padding: 10px;
}

#form{
    top: 5vh;
    height: inherit;
}

fieldset ,fieldset input{
    width: 100%;
    border: none;
    border-bottom: solid 2px indigo;
    background-color: inherit;
    border-top: solid 2px indigo;
    border-radius: 0 20% 50% 20%;
    
}

fieldset #submit, .submit{
    width: 70%;
    border:none;
    color: burlywood;
    background-color: #673ab7;
}

#user-ui{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.request{
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    padding: 6px;
    width: 35%;
    height: 50%;
    left: 0;
    color: #ce93d8;
    border-right: Solid 5px whitesmoke;  
}

.request button{
    float: left;
    width: 50%;
    
    color: #ce93d8;
}

.reject{
    border-radius: 0 0 50% 0;
    background-color: #ef5350;
}

.approve{
    border-radius: 0 0 0 50%;
    background-color: #4caf50;
}


#repair{
   height: auto;
}
#maintenance{
    height: auto;
    margin-top: 150px;
}
textarea{
    width:100%;
    height: 70%;
}

#view{
    position: absolute;
    right: 0;
    padding: 5px;
    margin: 5px;
    width: 60%;
    height: 100%;
    border-left: Solid 5px whitesmoke;
    background-color: rgba(0,0,0,0.2);
}

.display{
    background: whitesmoke;
}

.req{
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
}

#expand{
    position: absolute;
    border: none;
    border-left: solid 2px whitesmoke; 
    background-color: inherit;
    color: whitesmoke;
    height: 100%;
    top: 0;
    right: 0;
}



